@model GestionClinique.Models.RendezVous

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RendezVou</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.AdminId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medecin.MedecinId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RendezVousId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
