@model IEnumerable<GestionClinique.Models.RendezVous>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medecin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medecin.MedecinId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RendezVousId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RendezVousId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RendezVousId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
