@model IEnumerable<GestionClinique.Models.Medecin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.AdminId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedecinId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedecinId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedecinId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
